@import 'fonts';

.main {
  font: 100% 'Work Sans';
  width: 60vw;
  margin: 0 auto 0 auto;
  text-align: center;

  h1 {
    font-weight: 600;
    font-size: 75px;
  }
}

@keyframes popin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main__gifs {
  display: block;
  position: relative;
  margin: 64px auto 0 auto;

  img {
    opacity: 1;
    display: block;
    animation-name: popin;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;

    // Hover transition
    transition: transform .2s;
  }

  img:hover {
    transform: scale(1.1);
  }

  img:nth-child(1) {
    margin: 0 auto 0 auto;
    width: 30%;
    animation-delay: 0.3s;
  }

  img:nth-child(2) {
    margin: -10% 0 0 30%;
    width: 22%;
    animation-delay: 1s;
  }

  img:nth-child(3) {
    margin: -25% 0 0 60%;
    width: 25%;
    animation-delay: 1.6s;
  }

  img:nth-child(4) {
    margin: -30% 0 0 22%;
    width: 20%;
    animation-delay: 2.2s;
  }

  img:nth-child(5) {
    margin: 7% 0 0 50%;
    width: 28%;
    animation-delay: 2.6s;
  }

  img:nth-child(6) {
    margin: -15% 0 0 18%;
    width: 20%;
    animation-delay: 3s;
  }

  img:nth-child(7) {
    margin: -30% 0 0 10%;
    width: 25%;
    animation-delay: 3.3s;
  }

  img:nth-child(8) {
    margin: 4% 0 0 35%;
    width: 20%;
    animation-delay: 3.6s;
  }

  img:nth-child(9) {
    margin: -16% 0 0 62%;
    width: 30%;
    animation-delay: 3.8s;
  }

  img:nth-child(10) {
    margin: -10% 0 0 7%;
    width: 18%;
    animation-delay: 4s;
  }

  img:nth-child(11) {
    margin: -60% 0 0 68%;
    width: 25%;
    animation-delay: 4.2s;
  }

  img:nth-child(12) {
    margin: 25% 0 0 30%;
    width: 20%;
    animation-delay: 4.3s;
  }
}

.main__intro {
  width: 100%;
  margin: 64px auto 0 auto;

  .main__intro__quote {
    * {
      padding: 0;
      margin: 0;
    }

    h1 {
      font-size: 64px;
    }

    h2 {
      font-size: 32px;
      font-weight: 500;
      color: #acacac;
      text-align: left;
      margin: 0 0 0 18%;
    }
  }
}

html {
  cursor: wait;
}