@import 'fonts';

html {
  background-color: #f9f1f1;
}

b {
  font-weight: 600;
}

.main {
  font: 100% 'Work Sans';
  width: 90vw;
  margin: 0 auto 0 auto;
  text-align: center;

  h1 {
    font-weight: 600;
    font-size: 48px;
  }

	p {
		font-weight: 500;
	}

  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 24px;
    font-weight: 500;
    color: #6f6f6f;
  }
}

// For tablets/low resolution laptops
@media screen and (min-width: 768px) {
  .main {
    h1 {
      font-size: 75px;
    }

		p {
			font-size: 24px;
		}

    .title {
      font-size: 48px;
    }
  
    .subtitle {
      font-size: 32px;
      font-weight: 500;
      color: #6f6f6f;
    }
  }
}

// For desktops and laptops
@media screen and (min-width: 992px) {
  .main {
    width: 70vw;
  }
}

// For large desktops
@media screen and (min-width: 1200px) {
  .main {
    width: 60vw;
  }
}