@font-face {
  font-family: 'Work Sans';
  src: url("fonts/work-sans/WorkSans-SemiBold.woff2") format("woff2"), url("fonts/work-sans/WorkSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("fonts/work-sans/WorkSans-Regular.woff2") format("woff2"), url("fonts/work-sans/WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("fonts/work-sans/WorkSans-Thin.woff2") format("woff2"), url("fonts/work-sans/WorkSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("fonts/work-sans/WorkSans-ExtraLight.woff2") format("woff2"), url("fonts/work-sans/WorkSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("fonts/work-sans/WorkSans-Light.woff2") format("woff2"), url("fonts/work-sans/WorkSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("fonts/work-sans/WorkSans-Medium.woff2") format("woff2"), url("fonts/work-sans/WorkSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("fonts/work-sans/WorkSans-BlackItalic.woff2") format("woff2"), url("fonts/work-sans/WorkSans-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("fonts/work-sans/WorkSans-Italic.woff2") format("woff2"), url("fonts/work-sans/WorkSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("fonts/work-sans/WorkSans-ExtraBoldItalic.woff2") format("woff2"), url("fonts/work-sans/WorkSans-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("fonts/work-sans/WorkSans-MediumItalic.woff2") format("woff2"), url("fonts/work-sans/WorkSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("fonts/work-sans/WorkSans-LightItalic.woff2") format("woff2"), url("fonts/work-sans/WorkSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("fonts/work-sans/WorkSans-ThinItalic.woff2") format("woff2"), url("fonts/work-sans/WorkSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("fonts/work-sans/WorkSans-ExtraLightItalic.woff2") format("woff2"), url("fonts/work-sans/WorkSans-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("fonts/work-sans/WorkSans-Black.woff2") format("woff2"), url("fonts/work-sans/WorkSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("fonts/work-sans/WorkSans-BoldItalic.woff2") format("woff2"), url("fonts/work-sans/WorkSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("fonts/work-sans/WorkSans-Bold.woff2") format("woff2"), url("fonts/work-sans/WorkSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("fonts/work-sans/WorkSans-ExtraBold.woff2") format("woff2"), url("fonts/work-sans/WorkSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("fonts/work-sans/WorkSans-SemiBoldItalic.woff2") format("woff2"), url("fonts/work-sans/WorkSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

.main {
  font: 100% 'Work Sans';
  width: 60vw;
  margin: 0 auto 0 auto;
  text-align: center;
}

.main h1 {
  font-weight: 600;
  font-size: 75px;
}

@-webkit-keyframes popin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main__gifs {
  display: block;
  position: relative;
  margin: 64px auto 0 auto;
}

.main__gifs img {
  opacity: 1;
  display: block;
  -webkit-animation-name: popin;
          animation-name: popin;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.main__gifs img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main__gifs img:nth-child(1) {
  margin: 0 auto 0 auto;
  width: 30%;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.main__gifs img:nth-child(2) {
  margin: -10% 0 0 30%;
  width: 22%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.main__gifs img:nth-child(3) {
  margin: -25% 0 0 60%;
  width: 25%;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.main__gifs img:nth-child(4) {
  margin: -30% 0 0 22%;
  width: 20%;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.main__gifs img:nth-child(5) {
  margin: 7% 0 0 50%;
  width: 28%;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}

.main__gifs img:nth-child(6) {
  margin: -15% 0 0 18%;
  width: 20%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.main__gifs img:nth-child(7) {
  margin: -30% 0 0 10%;
  width: 25%;
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

.main__gifs img:nth-child(8) {
  margin: 4% 0 0 35%;
  width: 20%;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}

.main__gifs img:nth-child(9) {
  margin: -16% 0 0 62%;
  width: 30%;
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
}

.main__gifs img:nth-child(10) {
  margin: -10% 0 0 7%;
  width: 18%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.main__gifs img:nth-child(11) {
  margin: -60% 0 0 68%;
  width: 25%;
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}

.main__gifs img:nth-child(12) {
  margin: 25% 0 0 30%;
  width: 20%;
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
}

.main__intro {
  width: 100%;
  margin: 64px auto 0 auto;
}

.main__intro .main__intro__quote * {
  padding: 0;
  margin: 0;
}

.main__intro .main__intro__quote h1 {
  font-size: 64px;
}

.main__intro .main__intro__quote h2 {
  font-size: 32px;
  font-weight: 500;
  color: #acacac;
  text-align: left;
  margin: 0 0 0 18%;
}

html {
  cursor: wait;
}
/*# sourceMappingURL=index.css.map */